<!-- IF LOGGED OUT -->



<div *ngIf='isLoggedOut === true'>
  <!--Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
              <strong style="color: white;">Navbar</strong>
          </a>
          <div class="collapse navbar-collapse" id="navbarNav1">


            <!-- MODAL TRIGGER BUTTONS -->
            <div class="nav-buttons">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Sign Up
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myloginModal">
              Log In
            </button>
          </div>
            <!-- MODAL TRIGGER BUTTONS END -->



              <!-- <ul class="navbar-nav mr-auto"> -->

                  <!-- <li class="nav-item active">
                      <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Pricing</a>
                  </li> -->


                  <!-- <li class="nav-item dropdown btn-group">
                      <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                      <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                          <a class="dropdown-item">Action</a>
                          <a class="dropdown-item">Another action</a>
                          <a class="dropdown-item">Something else here</a>
                      </div>
                  </li> -->
              <!-- </ul> -->
              <!-- <form class="form-inline waves-effect waves-light">
                  <input class="form-control" type="text" placeholder="Search">
              </form> -->

          </div>
      </div>




      <!-- SIGN UP MODAL -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <!-- <h2>SignUp</h2> -->

              <p *ngIf='errorMessage' class="error">{{ errorMessage }}</p>

              <form (ngSubmit)="doSignUp()">
                <label for="full-name-input"> Full Name </label>
                <input  id="full-name-input" type="text"
                  [(ngModel)]="fullNameValue" name="fullNameValue">
                  <br>

                <label for="email-input"> Email </label>
                <input  id="email-input" type="email"
                  [(ngModel)]="emailValue" name="emailValue">
                  <br>

                <label for="username-input"> Username </label>
                <input  id="username-input" type="text"
                  [(ngModel)]="usernameValue" name="usernameValue">
                  <br>

                <label for="password-input"> Password </label>
                <input  id="password-input" type="password"
                  [(ngModel)]="passwordValue" name="passwordValue">
                  <br>

                  <button> Sign Up </button>
              </form>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- SIGN UP MODAL END -->





<!-- LOG IN MODAL -->
      <!-- Modal -->
      <div class="modal fade" id="myloginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <!-- <h2>SignUp</h2> -->

              <p *ngIf='loginErrorMessage' class="error">{{ loginErrorMessage }}</p>

              <form (ngSubmit)="doLogin()">
                <label for="login-email-input"> Email </label>
                <input  id="login-email-input" type="email"
                [(ngModel)]="loginEmail" name="loginEmail">
                <br>
                <label for="login-password-input"> Password </label>
                <input  id="login-password-input" type="password"
                [(ngModel)]="loginPassword" name="loginPassword">
                <br>
                <button (click)="doLogin()"> Log In </button>

              </form>

            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- LOG IN MODAL END -->


      <!-- Button trigger modal -->

  </nav>

</div>




<!-- IF LOGGED IN -->




<div *ngIf='isLoggedOut !== true'>
  <nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right"
          type="button" data-toggle="collapse" data-target="#navbarNav1"
          aria-controls="navbarNav1" aria-expanded="false"
          aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
              <strong style="color: white;">Navbar</strong>
          </a>
          <div class="collapse navbar-collapse" id="navbarNav1">

              <!-- <ul class="navbar-nav mr-auto">

                  <li class="nav-item active">
                      <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Pricing</a>
                  </li> -->
                  <!-- <li class="nav-item dropdown btn-group">
                      <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                      <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                          <a class="dropdown-item">Action</a>
                          <a class="dropdown-item">Another action</a>
                          <a class="dropdown-item">Something else here</a>
                      </div>
                  </li> -->
              <!-- </ul> -->
              <!-- <form class="form-inline waves-effect waves-light">
                  <input class="form-control" type="text" placeholder="Search">
              </form> -->
              <button (click)='doLogout()'
              class=" btn btn-primary nav-link nav-item logout"> Logout </button>
          </div>
      </div>

  </nav>
</div>
