<!-- IF LOGGED OUT -->

<div *ngIf='isLoggedOut === true'>
  <!--Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-dark" >
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
              <strong style="color: purple;">ClubRes</strong>
          </a>
          <div class="collapse navbar-collapse" id="navbarNav1">


            <!-- MODAL TRIGGER BUTTONS -->
            <div class="nav-buttons">
            <button type="button" class="btn btn-primary"
            style="background-color: white; color: purple; border-color: white"
            data-toggle="modal" data-target="#myModal">
              Sign Up
            </button>
            <button type="button" class="btn btn-primary"
            style="background-color: white; color: purple; border-color: white"
            data-toggle="modal" data-target="#myloginModal">
              Log In
            </button>
          </div>
            <!-- MODAL TRIGGER BUTTONS END -->



              <!-- <ul class="navbar-nav mr-auto"> -->

                  <!-- <li class="nav-item active">
                      <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Pricing</a>
                  </li> -->


                  <!-- <li class="nav-item dropdown btn-group">
                      <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                      <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                          <a class="dropdown-item">Action</a>
                          <a class="dropdown-item">Another action</a>
                          <a class="dropdown-item">Something else here</a>
                      </div>
                  </li> -->
              <!-- </ul> -->
              <!-- <form class="form-inline waves-effect waves-light">
                  <input class="form-control" type="text" placeholder="Search">
              </form> -->

          </div>
      </div>




      <!-- SIGN UP MODAL -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <!-- <h2>SignUp</h2> -->

              <p *ngIf='errorMessage' class="error">{{ errorMessage }}</p>

              <form (ngSubmit)="doSignUp()">
                <label for="full-name-input"> Full Name </label>
                <br>
                <input  id="full-name-input" type="text"
                  [(ngModel)]="fullNameValue" name="fullNameValue">
                  <br>

                <label for="email-input"> Email </label>
                <br>
                <input  id="email-input" type="email"
                  [(ngModel)]="emailValue" name="emailValue">
                  <br>

                <label for="phoneNum-input"> Phone Number </label>
                <br>
                <input  id="phoneNum-input" type="number"
                  [(ngModel)]="phoneNumValue" name="phoneNumValue">
                  <br>

                <label for="username-input"> Username </label>
                <br>
                <input  id="username-input" type="text"
                  [(ngModel)]="usernameValue" name="usernameValue">
                  <br>

                <label for="password-input"> Password </label>
                <br>
                <input  id="password-input" type="password"
                  [(ngModel)]="passwordValue" name="passwordValue">
                  <br>
                  <br>

                  <button data-dismiss="modal" (click)="doSignUp()"> Sign Up </button>
              </form>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- SIGN UP MODAL END -->





<!-- LOG IN MODAL -->
      <!-- Modal -->
      <div class="modal fade" id="myloginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <!-- <h2>SignUp</h2> -->

              <p *ngIf='loginErrorMessage' class="error">{{ loginErrorMessage }}</p>

              <form (ngSubmit)="doLogin()">
                <label for="login-email-input"> Email </label>
                <br>
                <input  id="login-email-input" type="email"
                [(ngModel)]="loginEmail" name="loginEmail">
                <br>
                <label for="login-password-input"> Password </label>
                <br>
                <input  id="login-password-input" type="password"
                [(ngModel)]="loginPassword" name="loginPassword">
                <br>
                <br>
                <button data-dismiss="modal" (click)="doLogin()"> Log In </button>

              </form>

            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- LOG IN MODAL END -->


      <!-- Button trigger modal -->

  </nav>

</div>



<!-- IF LOGGED IN -->

<div *ngIf='isLoggedOut !== true'>
  <nav class="navbar navbar-toggleable-md navbar-dark ">
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right"
          type="button" data-toggle="collapse" data-target="#navbarNav1"
          aria-controls="navbarNav1" aria-expanded="false"
          aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
              <strong style="color: purple;">ClubRes</strong>
          </a>
          <div class="collapse navbar-collapse" id="navbarNav1">

              <!-- <ul class="navbar-nav mr-auto">

                  <li class="nav-item active">
                      <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Pricing</a>
                  </li> -->
                  <!-- <li class="nav-item dropdown btn-group">
                      <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                      <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                          <a class="dropdown-item">Action</a>
                          <a class="dropdown-item">Another action</a>
                          <a class="dropdown-item">Something else here</a>
                      </div>
                  </li> -->
              <!-- </ul> -->
              <!-- <form class="form-inline waves-effect waves-light">
                  <input class="form-control" type="text" placeholder="Search">
              </form> -->
              <button (click)='doLogout()'
              class=" btn btn-primary nav-link nav-item"
              style="background-color: white; color:
              purple; border-color: white"> Logout </button>
              <a class="navbar-brand navbar-link nav-item" href="/previously-booked">
                  <p class="reservations-link" style="font-size: 1rem; color: purple">My Current Reservations</p>
              </a>
          </div>
      </div>

  </nav>

</div>
<section>

<div class="club-info">
<header *ngIf="isLoggedOut == false">
  <p>Hello! {{ currentUser.fullName }}</p>
</header>

<h1> Club list </h1>
<br>
<div>
  <div *ngFor="let club of clubs">
    <h3> {{ club.clubName }} </h3>
    <div>
      <div class="row">
        <div class="col-md-5">
    <div class="club-display-top">

    <img class="main-club-img" [src]="club.clubImage">
  </div>
  </div>
  <div class="col-md-6" style="padding-left: 160px; margin-bottom: 20px; position: relative; bottom: 20px;">

    <br>
    <span><b>Address:</b> <br>{{ club.clubAddress }} </span>
    <br>
    <br>
    <span><b>Music: </b> <br>{{ club.clubMusic }} </span>
    <br>
    <br>
    <span><b>Description: </b> <br>{{ club.clubDescription }} </span>
  </div>
</div>
</div>

   <div class="floor-plan">

    <img class="floor-plan-img" [src]="club.clubFloorplan" />

  </div>

  <!-- <div *ngIf="club.tableAmount === 3"> -->

<!-- <div *ngIf="isButton1Pressed === false"> -->
  <button [disabled]='club.tableAmount === 0' class="book-btn1"
  (click)='toggleThatInput1(club)'></button>
<!-- </div> -->

<!-- <div *ngIf="isButton2Pressed === false"> -->
  <button [disabled]='club.tableAmount === 0 || club.tableAmount === 1'
  class="book-btn2"
  (click)='toggleThatInput2(club)'></button>
<!-- </div> -->

<!-- <div *ngIf="isButton3Pressed === false"> -->
  <button [disabled]='club.tableAmount === 2 || club.tableAmount === 1 ||
  club.tableAmount === 0' class="book-btn3"
  (click)='toggleThatInput3(club)'></button>
<!-- </div> -->
<!-- </div> -->

  </div>
</div>

</div>



<!-- ///////////////////////// BOOKING ////////////////////////////// -->

<!-- <div *ngIf='amIBooking === true && isLoggedOut === true'>

<p>{{ loginMessage }}</p>

</div> -->


<div *ngIf='isLoggedOut === false'>
<div class="bookit" *ngIf='amIBooking === true'>

  <!-- <div *ngFor="let table of club"> -->
  <p>Table Minimum: ${{ currentClub.tableMinimum }}</p>

<br>

<li class="nav-item dropdown btn-group">
    <a class="dropdown-thing nav-link dropdown-toggle" id="dropdownMenu1"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add A Bottle</a>
    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
      <div>
          <div class="bottle-selection" *ngFor ="let bottleInfo of currentClub.bottles">

            <!-- <p> {{ bottleInfo.name }} </p> -->
            <p (click)="addBottle(bottleInfo.name, bottleInfo.price)" class="dropdown-inside"> {{ bottleInfo.name }}: ${{ bottleInfo.price }}  </p>

          </div>
        </div>
      </div>

</li>
<!-- </div> -->

<div style="border: 1px solid lightgray; padding: 10px;">

<div *ngFor="let oneBottle of bottlesSelected">
    <p>{{ oneBottle.bottleName }}:    ${{ oneBottle.bottlePrice }}</p>
</div>

</div>

<p style="padding-top: 10px;">20% tip: ${{ tableTip() }}</p>


<p>Sales Tax: ${{ tableTax() }} </p>

<hr>

<p> Table Total: ${{ tableTotal() }} </p>

<button class="book-table" *ngIf="currentClub.tableMinimum < tableTotal()"
(click)="saveReservation( currentClub._id )">Book Table</button>

</div>

</div>

</section>
