<!-- <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" /> -->

<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Navbar</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Launch demo modal
              </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <!-- <h2>SignUp</h2> -->

                      <p *ngIf='errorMessage' class="error">{{ errorMessage }}</p>

                      <form (ngSubmit)="doSignUp()">
                        <label for="full-name-input"> Full Name </label>
                        <input  id="full-name-input" type="text"
                          [(ngModel)]="fullNameValue" name="fullNameValue">
                          <br>

                        <label for="email-input"> Email </label>
                        <input  id="email-input" type="email"
                          [(ngModel)]="emailValue" name="emailValue">
                          <br>

                        <label for="username-input"> Username </label>
                        <input  id="username-input" type="text"
                          [(ngModel)]="usernameValue" name="usernameValue">
                          <br>

                        <label for="password-input"> Password </label>
                        <input  id="password-input" type="password"
                          [(ngModel)]="passwordValue" name="passwordValue">
                          <br>

                          <button> Sign Up </button>
                      </form>
                    </div>
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                  </div>
                </div>
              </div>

                <li class="nav-item active">
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Pricing</a>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item">Another action</a>
                        <a class="dropdown-item">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline waves-effect waves-light">
                <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </div>
</nav>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- <h2>SignUp</h2> -->

        <p *ngIf='errorMessage' class="error">{{ errorMessage }}</p>

        <form (ngSubmit)="doSignUp()">
          <label for="full-name-input"> Full Name </label>
          <input  id="full-name-input" type="text"
            [(ngModel)]="fullNameValue" name="fullNameValue">
            <br>

          <label for="email-input"> Email </label>
          <input  id="email-input" type="email"
            [(ngModel)]="emailValue" name="emailValue">
            <br>

          <label for="username-input"> Username </label>
          <input  id="username-input" type="text"
            [(ngModel)]="usernameValue" name="usernameValue">
            <br>

          <label for="password-input"> Password </label>
          <input  id="password-input" type="password"
            [(ngModel)]="passwordValue" name="passwordValue">
            <br>

            <button> Sign Up </button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
